<div style="text-align:center">
  <alert type="success" style="align-content: center">
    <strong>{{ title }}</strong>
  </alert>
  <alert type="success" style="align-content: center">
    {{ content }}
  </alert>
  <alert type="info" style="align-content: center">
    code: <strong>{{ code }}</strong>
  </alert>
  <alert type="info" style="align-content: center">
    message: <strong>{{ message }}</strong>
  </alert>
  <button type="button" class="btn btn-primary" (click)="addCount()">Add</button>
</div>
