<alert type="info" style="text-align:center">
  <strong>websocket & rabbitmq</strong>
</alert>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
      <button id="connectRabbitmqClient" style="margin-right: 100px" type="button" class="btn btn-primary" (click)="connectRabbitmqClient()">connect</button>
      <button id="disconnectRabbitmqClient" type="button" class="btn btn-primary" (click)="disconnectRabbitmqClient()" disabled="disabled">disconnect</button>
    </div>
  </div>
  <div class="row" *ngFor="let objects of messages;">
    <div class="col-lg-6" *ngFor="let obj of objects;" style="margin-bottom: 30px;">
      <div style="text-align: center; margin-bottom: 20px">
        <button #sendButton type="button" class="btn btn-primary" (click)="sendRabbitmqMessage(sendButton.innerHTML)">{{ obj.desc }}</button>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <alert type="success" style="text-align:center">
              <strong>publisher</strong>
            </alert>
            <mat-card>
              <mat-list>
                <mat-list-item class="divider" *ngFor="let msg of obj.publisherMessages" style="align-content: center; height: 100%; padding: 5px 0;">
                  <p class="text">{{ msg }}</p>
                </mat-list-item>
              </mat-list>
            </mat-card>
          </div>
          <div class="col-lg-6">
            <alert type="success" style="text-align:center">
              <strong>consumer</strong>
            </alert>
            <mat-card>
              <mat-list>
                <mat-list-item class="divider" *ngFor="let msg of obj.consumerMessages" style="align-content: center; height: 100%; padding: 5px 0;">
                  <p class="text">{{ msg }}</p>
                </mat-list-item>
              </mat-list>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
